# Auto detect text files and perform LF normalization
* text=auto
game/lib/javafx-patched/libjfxwebkit.so filter=lfs diff=lfs merge=lfs -text
game/lib/javafx-sdk/libjfxwebkit.so filter=lfs diff=lfs merge=lfs -text
